@using Green.Models
@{
    ViewBag.Title = "Foods";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="foods">
    <h2>Foods</h2>
    <input type="button" value="New" class="btn btn-primary" data-toggle="modal" data-target="#foodItem" data-bind="click:add" />
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach:Foods">
            <tr>
                <td class="col-xs-5" data-bind="text:Name"></td>
                <td class="col-xs-5" data-bind="text:TypeDisplay"></td>
                <td class="col-xs-1">
                    <input type="button" value="Details" class="btn btn-info" data-toggle="modal" data-target="#foodItem" data-bind="click:$parent.details" />
                </td>
                <td class="col-xs-1">
                    <input type="button" value="Delete" class="btn btn-danger" data-bind="click:$parent.delete" />
                </td>
            </tr>
        </tbody>
    </table>
    @Html.Partial("Item")
</div>
<script>
    $(function () {
        ko.cleanNode($("#foods")[0]);
        var vm = new Foods();
        vm.refresh();
        ko.applyBindings(vm, $("#foods").get(0));
    });
</script>
