@{
    ViewBag.Title = "Reservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #Chart, #MonthlyChart {
        width: 90%;
        height: auto;
    }
</style>

<script src='/signalr/js'></script>

<div id="reservations">    
    <div id="Chart" class="center-block">
         <h3 data-bind="text: 'Restaurants\' reserved seats percentage for ' + SelectedYear()"></h3>
        <select id="ChartYear" data-bind="options: Years, selectedOptions: SelectedYear"></select>
        <canvas id="myChart"></canvas>
    </div>

    <div id="MonthlyChart" class="center-block" style="display: none">
        <h3 id="RestaurantMonthlyChartTitle"></h3>
        <canvas id="RestaurantMonthlyChart"></canvas>
    </div>

    <div id="ReservationsTable" style="display: none">
        <h3 id="ReservationsTableTitle"></h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Client Name</th>
                    <th>Date and Time</th>
                    <th>Seats</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach:Reservations">
                <tr>
                    <td class="col-lg-4 col-md-4 col-sm-4 col-xs-4" data-bind="text:User.UserName"></td>
                    <td class="col-lg-4 col-md-4 col-sm-4 col-xs-4" data-bind="text:ReservationDateDisplay"></td>
                    <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2" data-bind="text:Seats"></td>
                    <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <button id="cancelButton" class="btn btn-danger" data-toggle="tooltip" title="Cancel the reservation." data-bind="click:$root.delete, disable: $root.isComplete($data.ReservationDate)">
                                <span class="glyphicon glyphicon-remove-sign"></span> Cancel
                            </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="ReservationsSnackbar" data-bind="text: $root.Message"></div>
</div>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover();
        var vm = new Reservations();
        vm.initSignalR();
        vm.open();
        ko.applyBindings(vm, $("#reservations").get(0));

        var today = new Date();
        $("#ChartYear").val(today.getFullYear()).change();
      
    });

    //hides the element for non-admin users
    ko.bindingHandlers.allowAccess = {
        update: function (element, valueAccessor, allBindingsAccessor, viewModel, bindingContext) {
            try {
                var value = ko.unwrap(valueAccessor());
            }
            catch (e) {
                var value = valueAccessor();
            }
            // admin user
            if (value) {
                element.hidden = false;
            }
                // normal user
            else {
                element.hidden = true;
            }
        }
    };
</script>