<div id="reservationItem" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Reservation</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="RestaurantId">Restaurant:</label>
                    <div class="form-horizontal">
                        <select id="RestaurantId" class="form-control" data-bind="options:Restaurants, optionsText: 'Name', optionsValue: 'id', value: RestaurantId, optionsCaption: 'Choose...'"></select>
                        <button id="RestaurantInfo" class="btn btn-default" data-toggle="popover" data-trigger="focus hover" data-placement="right" data-bind="visible:RestaurantId">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </button>
                        <label class="text-danger pull-right" data-bind="text:warningRestaurantId"></label>
                    </div>

                    <label for="ClientName" data-bind="allowAccess:$root.isAdmin">Client:</label>
                    <input id="ClientName" type="text" class="form-control" placeholder="Enter Client Name" data-bind="visible:isAdmin, value:UserName" readonly/>
                    
                    <label for="DateTime">Date and Time:</label>
                    <div class="form-horizontal">
                        <input id="DateTime" type="datetime-local" class="form-control" data-bind="datePicker : ReservationDate"/>
                        <label class="text-danger pull-right" data-bind="text:warningReservationDate"></label>
                    </div>

                    <label for="Seats">Number of Seats:</label>
                    <div class="form-horizontal">
                        <input id="Seats" type="text" class="form-control" placeholder="Enter Number of Seats" value="1" onkeypress="onKeyPressSeats()" data-bind="value:Seats" />
                        <label id ="WarningSeats" class="text-danger pull-right" data-bind="text:warningSeats"></label>
                    </div>

                    <hr />
                    @Html.Partial("../Ratings/Rating")
                </div>
            </div>
            <div class="modal-footer">
                <input id="OKButton" type="button" class="btn btn-default" value="OK" data-dismiss="modal" data-toggle="tooltip" title="Apply changes." data-bind="click:save "/>
                <input type="button" class="btn btn-danger" value="Cancel" data-dismiss="modal" data-toggle="tooltip" title="Revert changes."/>
            </div>
        </div>
    </div>
</div>

<script>
    function onKeyPressSeats() {
        if (window.event.keyCode < 48 || window.event.keyCode > 57) {
            window.event.preventDefault();
        }
    };

    ko.bindingHandlers.datePicker = {
        init: function (element, valueAccessor, allBindingsAccessor, viewModel) {
            // Register change callbacks to update the model
            // if the control changes.
            ko.utils.registerEventHandler(element, "change", function () {
                var value = valueAccessor();
                value(moment(element.value).format());
            });
        },
        // Update the control whenever the view model changes
        update: function (element, valueAccessor, allBindingsAccessor, viewModel) {
            var value = valueAccessor();
            element.value = moment(value()).format("YYYY-MM-DDTHH:mm:ss");
        }
    };
</script>