@{
    ViewBag.Title = "Reservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src='/signalr/js'></script>

<div id="userReservations">
    <h2>Reservations</h2>
    <div class="form-group">
        <div class="form-inline btn-group">
            <input id="reserveButton" type="button" class="btn btn-primary" value="Make Reservation" data-toggle="modal" data-target="#reservationItem" data-bind="click:add"/>
            <button type="button" class="btn btn-info" data-toggle="tooltip" data-trigger="focus" data-placement="right" title="You can add new reservations or edit existing ones.">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Restaurant Name</th>
                <th>Date and Time</th>
                <th>Seats</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach:Reservations">
            <tr>
                <td class="col-md-3" data-bind="text:Restaurant.Name"></td>
                <td class="col-md-2" data-bind="text:ReservationDateDisplay"></td>
                <td class="col-md-1" data-bind="text:Seats"></td>
                <td class="col-md-3">
                    <div class="btn-group-md" align="right">
                        <button id="infoButton" class="btn btn-default" data-toggle="modal" data-target="#reservationItem" data-bind="click:$root.details">
                            <span class="glyphicon glyphicon-info-sign"></span> Info
                        </button>
                        <button id="cancelButton" class="btn btn-danger" data-toggle="tooltip" title="Cancel the reservation." data-bind="click:$root.delete">
                            <span class="glyphicon glyphicon-remove-sign"></span> Cancel
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div id="UserReservationsSnackbar" data-bind="text: $root.Message"></div>

    @Html.Partial("ReservationItem")
</div>

<script>
    $(function () {
        var vmRatings = new Ratings();
        vmRatings.set();
        ko.applyBindings(vmRatings, $("#ratings").get(0));

        $('[data-toggle="popover"]').popover();
        var vm = new UserReservations(vmRatings);
        vm.initSignalR();
        vm.refresh();
        ko.applyBindings(vm, $("#userReservations").get(0));

        //$("#RestaurantId").bind("change", vm.RestaurantId, vmRatings.changeRestaurantId);
        //$("#RestaurantId").bind("change", vm.restaurantInfo);
        //vmRatings.changeRestaurantId(vm.RestaurantId);

        // set minimum date to today
        var today = new Date();
        var DD = today.getDate();
        var MM = today.getMonth() + 1; //January is 0!
        var YYYY = today.getFullYear();
        var HH = today.getHours();
        if (DD < 10) 
            DD = '0' + DD;
        if (MM < 10)
            MM = '0' + MM;
        if (HH < 23)
            ++HH;
        if (HH < 10)
            HH = '0' + HH;

        today = YYYY + '-' + MM + '-' + DD + "T" + HH + ":00:00";
        document.getElementById("DateTime").setAttribute("min", today);
        console.log(document.getElementById("DateTime").min);
    });

</script>