<div id="imageItem" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bind="click: $('#imageItem').modal('hide')">&times;</button>
                <h4 class="modal-title">Image</h4>
            </div>
            <div>
                <img data-bind="attr: {src: '../Content/images/'+ImageName()}" style="width:304px;height:228px;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bind="click: $('#imageItem').modal('hide')">Close</button>
            </div>
        </div>
    </div>
</div>
