 /* snackbar */
    div[id*="Snackbar"] {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #fed136; /* #333 */
        border-color: black;
        border-width: 5px;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        right: 1%;
        bottom: 1%;
        font-size: 17px;
    }

        div[id*="Snackbar"].show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

    @@-webkit-keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }

        to {
            bottom: 20px;
            opacity: 1;
        }
    }

    @@keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }

        to {
            bottom: 20px;
            opacity: 1;
        }
    }

    @@-webkit-keyframes fadeout {
        from {
            bottom: 20px;
            opacity: 1;
        }

        to {
            bottom: 0;
            opacity: 0;
        }
    }

    @@keyframes fadeout {
        from {
            bottom: 20px;
            opacity: 1;
        }

        to {
            bottom: 0;
            opacity: 0;
        }
    }