@{
    ViewBag.Title = "Manage Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #menuList {
        overflow: scroll;
    }
</style>

<div id="menus">
    <div id="menuList" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 data-bind="text: $root.RestaurantNameDisplay"></h4>
                </div>

                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Start date</th>
                                <th>End date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:Menus">
                            <tr>
                                <td class="col col-xs-5 col-sm-5 col-md-5 col-lg-5" data-bind="text:StartDateDisplay"></td>
                                <td class="col col-xs-5 col-sm-5 col-md-5 col-lg-5" data-bind="text:EndDateDisplay"></td>
                                <td class="col-xs-1">
                                    <button id="ShowMenuDetailsButton" type="button" class="btn btn-success" aria-label="Left Align" data-toggle="modal" data-target="#menuItem" data-bind="click: $parent.refreshMenu">
                                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                    </button>
                                </td>
                                <td class="col-xs-1">
                                    <button type="button" class="btn btn-danger" aria-label="Left Align" data-bind="click: $root.delete">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success" data-toggle="modal" data-target="#menuItem" data-bind="click:add">New Menu</button>
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("../Menus/MenuItem")
</div>
@Html.Partial("../Meals/MealItem")

<script>
    $(function () {
        ko.cleanNode($("#menus")[0]);
        vmMenus = new Menus();
        vmMenus.refresh();
        ko.applyBindings(vmMenus, $("#menus").get(0));

        //ko.cleanNode($("#mealItem")[0]);
        vmMeals = new Meals();
        vmMeals.refresh();
        ko.applyBindings(vmMeals, $("#mealItem").get(0));

        //ko.cleanNode($("#foodItem")[0]);
        vmFoods = new Foods();
        vmFoods.refresh();
        ko.applyBindings(vmFoods, $("#foodItem").get(0));

        // refresh
        $('#mealItem').on('hidden.bs.modal', function () {
            vmMenus.ingredientsModalClose({ Id: vmMenus.Id() });
        });

        $('#menuItem').on('hidden.bs.modal', function () {
            vmMenus.refresh();
        });

        // blur
        $('#mealItem').on('hide.bs.modal', function () {
            document.getElementById("menuItem").style.webkitFilter = 'blur(0)';
        });

        $('#mealItem').on('show.bs.modal', function () {
            document.getElementById("menuItem").style.webkitFilter = 'blur(5px)';
        });

        $('#menuItem').on('hide.bs.modal', function () {
            document.getElementById("menuList").style.webkitFilter = 'blur(0)';
        });

        $('#menuItem').on('show.bs.modal', function () {
            document.getElementById("menuList").style.webkitFilter = 'blur(5px)';
        });

        // set minimum date to today
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }

        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById("MenuStartDate").setAttribute("min", today);
        document.getElementById("MenuEndDate").setAttribute("min", today);
    });
</script>