<style>
    #menuItem {
        overflow: scroll;
    }

    #RestaurantMenuDisplay {
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        border-color: none;
    }

        #RestaurantMenuDisplay a:focus,
        #RestaurantMenuDisplay a:hover,
        #RestaurantMenuDisplay a:active {
            outline: 0;
            text-decoration: none;
        }

        #RestaurantMenuDisplay .panel {
            border-width: 0 0 1px 0;
            border-style: solid;
            /*border-color: #fff;*/
            border-radius: 0;
            border-color: none;
            border: none;
            background: none;
            box-shadow: none;
        }

            #RestaurantMenuDisplay .panel:last-child {
                border-bottom: none;
            }

        #RestaurantMenuDisplay > .panel:first-child .panel-heading {
            border-radius: 4px 4px 0 0;
        }

        #RestaurantMenuDisplay .panel + .panel {
            margin-top: 0;
            border: none;
        }

        #RestaurantMenuDisplay .panel-heading {
            border: none;
            padding: 0;
            border-radius: 0 0 4px 4px;
            transition: border-radius 0.3s linear 0.2s;
            height: auto;
        }

        #RestaurantMenuDisplay .panel-title a {
            font-weight: 700;
            color: white;
            /*border-color: #fed136;*/
            background-color: #999999;
            font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            display: block;
            padding: 5px;
            position: relative;
            font-size: 16px;
        }

        #RestaurantMenuDisplay .panel-title :hover {
            color: #ffffff;
            background-color: #808080;
            border-color: #7a7a7a;
        }

        #RestaurantMenuDisplay .panel-collapse {
            background: #fff;
            border-color: none;
            height: auto;
            max-height: 300px;
            overflow-y: scroll;
        }

        #RestaurantMenuDisplay .panel:last-child .panel-collapse {
            border-radius: 0 0 4px 4px;
        }

        #RestaurantMenuDisplay .list-group-item:hover {
            cursor: pointer;
        }

        #RestaurantMenuDisplay #MealsList .list-group-item-heading {
            font-weight: 600;
            margin-bottom: 0;
            border: 1px solid white;
            background-color: #999999;
            border-color: none;
            color: white;
            height: 40px;
        }

            #RestaurantMenuDisplay #MealsList .list-group-item-heading:not(:first-child) {
                /*margin-top: 10px;*/
            }

            #RestaurantMenuDisplay #MealsList .list-group-item-heading:hover {
                cursor: default;
            }

    #menuItem #DisplayCaseButtons {
        margin-top: 11px;
        margin-bottom: 6px;
        width: 100%;
        border: none;
        overflow: auto;
    }


    /*#menus #MealSearchBox {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        font-family: "Glyphicons Halflings";
        content: "\e080";
    }*/

    #menus #menuItem .left-inner-addon {
        position: relative;
    }

        #menus #menuItem .left-inner-addon input {
            padding-left: 30px;
        }

        #menus #menuItem .left-inner-addon i {
            padding-left: 10px;
            position: absolute;
            padding: 10px 12px;
            pointer-events: none;
        }

    /* scrollbar */
    #RestaurantMenuDisplay ::-webkit-scrollbar {
        width: 11px;
        height: 11px;
    }

    #RestaurantMenuDisplay ::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }

    #RestaurantMenuDisplay ::-webkit-scrollbar-thumb {
        background: #999999;
        border: 48px none #ffffff;
        border-radius: 4px;
    }

        #RestaurantMenuDisplay ::-webkit-scrollbar-thumb:hover {
            background: #808080;
        }

        #RestaurantMenuDisplay ::-webkit-scrollbar-thumb:active {
            background: #999999;
        }

    #RestaurantMenuDisplay ::-webkit-scrollbar-track {
        background: #e9e9e9;
        border: 0px none #ffffff;
        border-radius: 4px;
    }

        #RestaurantMenuDisplay ::-webkit-scrollbar-track:hover {
            background: #e9e9e9;
        }

        #RestaurantMenuDisplay ::-webkit-scrollbar-track:active {
            background: #e9e9e9;
        }

    #RestaurantMenuDisplay ::-webkit-scrollbar-corner {
        background: transparent;
    }
</style>

<div id="menuItem" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" @*data-bind="click: $('#menuItem').modal('hide')"*@>&times;</button>
                <h4 data-bind="text: MenuTitleDisplay"></h4>
            </div>

            <div class="modal-body">
                <!-- Menu Date -->
                <label for="MenuStartDate">Start Date</label>
                <div class="form-horizontal form-group">
                    <div class="input-group" style="display: inline;">
                        <input id="MenuStartDate" type="date" class="form-control" data-bind="datePicker: $root.StartDate">
                        <button id="StartDateRevertButton" class="btn input-group btn-default" aria-label="Left Align" data-bind="click: $root.resetStartDate" style="display: none;" data-toggle="tooltip" title="Revert">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                    <label class="text-danger pull-right" data-bind="text: $root.warningStartDate"></label>
                </div>

                <label for="MenuEndDate">End Date</label>
                <div class="form-horizontal form-group">
                    <div class="input-group" style="display: inline;">
                        <input id="MenuEndDate" type="date" class="form-control" data-bind="datePicker: $root.EndDate">
                        <button id="EndDateRevertButton" class="btn input-group btn-default" aria-label="Left Align" data-bind="click: $root.resetEndDate" style="display: none;" data-toggle="tooltip" title="Revert">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                    <label class="text-danger pull-right" data-bind="text: $root.warningEndDate"></label>
                </div>
                <label id="WarningTimeInterval" class="text-danger pull-right" data-bind="text: $root.warningTimeInterval"></label>

                <!-- Search Meal -->
                <div class="form-inline">
                    <div class="inner-addon left-addon pull-left" style="width: 100%; margin-top: 20px;">
                        @*<i class="glyphicon glyphicon-search"></i>*@
                        <input id="MealSearchBox" type="text" class="form-control" role="search" placeholder="Search meal..." data-bind="value: $root.SearchText, valueUpdate: 'afterkeydown'" />
                    </div>
                </div>

                <!-- Menu Content Display -->
                <div id="DisplayCaseButtons" class="btn-group">
                    <input type="button" role="group" class="btn btn-default" value="Show all" data-bind="click: $root.showAll" style="width:33.3%; border: none" />
                    <input type="button" role="group" class="btn btn-default" value="Show selected" data-bind="click: $root.showSelected" style="width: 33.4%; border-bottom: none; border-top:none; border-right: 6px solid white; border-left: 6px solid white;" />
                    <input type="button" role="group" class="btn btn-default" value="Show unselected" data-bind="click: $root.showUnselected" style="width: 33.3%; border: none" />
                </div>

                <div id="RestaurantMenuDisplay" class="panel-group wrap" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a id="MenuVisibilityButton" role="button" data-toggle="collapse" href="#MealsList" onclick="ToggleMenuVisibility()">Show Menu</a>
                            </h4>
                        </div>
                        <div id="MealsList" role="tabpanel" class="panel-collapse collapse in">
                            <ul class="list-group" data-bind="foreach: $root.DisplayedMeals">
                                <!-- ko if: $index() == 0 || TypeDisplay != $root.DisplayedMeals()[$index() - 1].TypeDisplay -->
                                <li class="list-group-item-heading list-group-item">
                                    <text class="pull-left" data-bind="text: TypeDisplay"></text>
                                </li>
                                <!-- /ko -->
                                <li class="list-group-item" data-bind="style: { 'background-color': isSelected ? '#fed136' : 'white' }, click: $root.onMealClicked">
                                    <text data-bind="text: Name"></text>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <button id="NewMealButton" class="btn btn-default pull-right right" data-toggle="modal" data-target="#mealItem">Add new meal</button>
                <label><input id="MultipleSelectionButton" type="checkbox" class="pull-right right" data-bind="click: $root.SelectAll" value="" />Select all</label>

            </div>

            <div class="modal-footer">
                <button id="MenuOKButton" class="btn btn-success" data-bind="click: save">Save</button>
                <button id="MenuDeleteButton" class="btn btn-danger" style="display: none;" data-bind="click: $root.deleteModal">Delete</button>
                <button class="btn btn-default" data-dismiss="modal" @*data-bind="click: $('#menuItem').modal('hide')"*@>Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function ToggleMenuVisibility() {
        var button = $("#MenuVisibilityButton");
        button.text(button.text() == "Show Menu" ? "Hide Menu" : "Show Menu");
    };

    function ToggleIngredientsVisibility() {
        var button = $("#IngredientsVisibilityButton");
        button.text(button.text() == "Show Ingredients" ? "Hide Ingredients" : "Show Ingredients");
    };

    ko.bindingHandlers.datePicker = {
        init: function (element, valueAccessor, allBindingsAccessor, viewModel) {
            // Register change callbacks to update the model
            // if the control changes.
            ko.utils.registerEventHandler(element, "change", function () {
                var value = valueAccessor();
                value(moment(element.value).format());
            });
        },
        // Update the control whenever the view model changes
        update: function (element, valueAccessor, allBindingsAccessor, viewModel) {
            var value = valueAccessor();
            element.value = moment(value()).format("YYYY-MM-DD");
        }
    };
</script>