@{
    ViewBag.Title = "Manage Menu";
}

<style>
    #RestaurantMenuDisplay {
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        border-color: none;
    }

        #RestaurantMenuDisplay a:focus,
        #RestaurantMenuDisplay a:hover,
        #RestaurantMenuDisplay a:active {
            outline: 0;
            text-decoration: none;
        }

        #RestaurantMenuDisplay .panel {
            border-width: 0 0 1px 0;
            border-style: solid;
            /*border-color: #fff;*/
            border-radius: 0;
            border-color: none;
            border: none;
            background: none;
            box-shadow: none;
        }

            #RestaurantMenuDisplay .panel:last-child {
                border-bottom: none;
            }

        #RestaurantMenuDisplay > .panel:first-child .panel-heading {
            border-radius: 4px 4px 0 0;
        }

        #RestaurantMenuDisplay .panel + .panel {
            margin-top: 0;
            border: none;
        }

        #RestaurantMenuDisplay .panel-heading {
            background-color: #fed136;
            border: none;
            padding: 0;
            border-radius: 0 0 4px 4px;
            transition: border-radius 0.3s linear 0.2s;
            height: auto;
        }

        #RestaurantMenuDisplay .panel-title a {
            font-weight: 700;
            color: white;
            border-color: #fed136;
            background-color: #fed136;
            font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            display: block;
            padding: 5px;
            position: relative;
            font-size: 16px;
        }

        #RestaurantMenuDisplay .panel-collapse {
            background: #fff;
            border-color: none;
            height: auto;
            max-height: 300px;
            overflow-y: scroll;
        }

        #RestaurantMenuDisplay .panel:last-child .panel-collapse {
            border-radius: 0 0 4px 4px;
        }

        #RestaurantMenuDisplay .list-group-item:hover {
            cursor: pointer;
        }

        #RestaurantMenuDisplay #MealsList .list-group-item-heading {
            font-weight: 600;
            margin-bottom: 0;
            border: none;
            background-color: orange;
            border-color: none;
            color: white;
        }

            #RestaurantMenuDisplay #MealsList .list-group-item-heading:not(:first-child) {
                margin-top: 10px;
            }

            #RestaurantMenuDisplay #MealsList .list-group-item-heading:hover {
                cursor: default;
            }

    #DisplayCaseButtons .btn {
        width: auto;
    }

    /*#menus #MealSearchBox {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        font-family: "Glyphicons Halflings";
        content: "\e080";
    }*/

    #menus .left-inner-addon {
        position: relative;
    }

        #menus .left-inner-addon input {
            padding-left: 30px;
        }

        #menus .left-inner-addon i {
            padding-left: 10px;
            position: absolute;
            padding: 10px 12px;
            pointer-events: none;
        }

        /*scrollbar*/
    #RestaurantMenuDisplay ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    #RestaurantMenuDisplay ::-webkit-scrollbar-button {
        width: 1px;
        height: 1px;
    }

    #RestaurantMenuDisplay ::-webkit-scrollbar-thumb {
        background: #d2d2d2;
        border: 55px none #ffffff;
        border-radius: 16px;
    }

        #RestaurantMenuDisplay ::-webkit-scrollbar-thumb:hover {
            background: #e1e1e1;
        }

        #RestaurantMenuDisplay ::-webkit-scrollbar-thumb:active {
            background: #ffffff;
        }

    #RestaurantMenuDisplay ::-webkit-scrollbar-track {
        background: #666666;
        border: 41px none #ffffff;
        border-radius: 16px;
    }

        #RestaurantMenuDisplay ::-webkit-scrollbar-track:hover {
            background: #666666;
        }

        #RestaurantMenuDisplay ::-webkit-scrollbar-track:active {
            background: #666666;
        }

    #RestaurantMenuDisplay ::-webkit-scrollbar-corner {
        background: transparent;
    }
</style>

<div id="menus">
    <div id="menuList" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 data-bind="text: $root.RestaurantNameDisplay"></h4>
                </div>

                <div class="modal-body">
                    <!-- Menu Date -->
                    <label for="MenuStartDate">Start Date</label>
                    <div class="form-horizontal form-group">
                        <input id="MenuStartDate" type="date" class="form-control" data-bind="text: $root.StartDateDisplay">
                        <label class="text-danger pull-right" data-bind="text: $root.warningStartDate"></label>
                    </div>

                    <label for="MenuEndDate">End Date</label>
                    <div class="form-group form-horizontal">
                        <input id="MenuEndDate" type="date" class="form-control">
                        <label class="text-danger pull-right" data-bind="text: $root.warningEndDate"></label>
                    </div>

                    <!-- Menu Content Edit -->
                    @*<div class="form-horizontal">
                            <select id="MenuMeals" class="form-control pull-left" data-bind="foreach: $root.MealTypes">
                                <optgroup data-bind="attr: {label: $data.Description}, foreach: $parent.Meals">
                                    <!-- ko if: TypeDisplay == $parent.Description -->
                                    <option data-bind="text: Name, value: Id"></option>
                                    <!-- /ko -->
                                </optgroup>
                            </select>
                            <label class="text-danger pull-right" data-bind="text:$root.warningMeal"></label>
                            <div class="btn-group">
                                <button id="AddMealButton" class="btn btn-default" data-bind="click: $root.addMealFromList">Add</button>
                                <button id="DeleteMealButton" class="btn btn-default" data-bind="click: $root.deleteMealFromList">Delete</button>
                            </div>
                        </div>
                        <br />*@

                    <hr />
                    <!-- Search Meal -->
                    <div class="form-inline">
                        <div class="inner-addon left-addon pull-left" style="width: 100%">
                            @*<i class="glyphicon glyphicon-search"></i>*@
                            <input id="MealSearchBox" type="text" class="form-control" role="search" placeholder="Search meal..." data-bind="value: $root.SearchText, valueUpdate: 'afterkeydown'" />
                        </div>
                        @*<div class="dropdown pull-right">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    Search by:
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Name</a></li>
                                    <li><a href="#">Type</a></li>
                                    <li><a href="#">Ingredient</a></li>
                                </ul>
                            </div>*@
                    </div>
                    <br />

                    <!-- Menu Content Display -->
                    <div id="DisplayCaseButtons" class="btn-group">
                        <input type="button" role="group" class="btn btn-default" value="Show all" data-bind="click: $root.showAll" />
                        <input type="button" role="group" class="btn btn-default" value="Show selected" data-bind="click: $root.showSelected" />
                        <input type="button" role="group" class="btn btn-default" value="Show unselected" data-bind="click: $root.showUnselected" />
                    </div>
                    <br />
                    <br />

                    <div id="RestaurantMenuDisplay" class="panel-group wrap" role="tablist">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a id="MenuVisibilityButton" role="button" data-toggle="collapse" href="#MealsList" onclick="ToggleMenuVisibility()">Show Menu</a>
                                </h4>
                            </div>
                            <div id="MealsList" role="tabpanel" class="panel-collapse collapse">
                                <ul class="list-group" data-bind="foreach: $root.DisplayedMeals">
                                    <!-- ko if: $index() == 0 || TypeDisplay != $root.DisplayedMeals()[$index() - 1].TypeDisplay -->
                                    <li class="list-group-item-heading list-group-item">
                                        <text data-bind="text: TypeDisplay"></text>
                                    </li>
                                    <!-- /ko -->
                                    <li class="list-group-item" data-bind="style: { 'background-color': isSelected ? 'yellowgreen' : 'white' }, click: $root.onMealClicked">
                                        <text data-bind="text: Name"></text>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <label><input id="MultipleSelectionButton" type="checkbox" class="pull-right right" data-bind="click: $root.SelectAll" value="" />Select all</label>

                </div>

                <div class="modal-footer">
                    <button id="MenuOKButton" class="btn btn-success" data-bind="click: save">Save</button>
                    <button id="MenuDeleteButton" class="btn btn-danger" style="display: none;" data-bind="click: $root.delete">Delete</button>
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        //    ko.cleanNode($("#menuList")[0]);
        vmMenus = new Menus();
        vmMenus.refresh();
        ko.applyBindings(vmMenus, $("#menus").get(0));
    });

    function ToggleMenuVisibility() {
        var button = $("#MenuVisibilityButton");
        button.text(button.text() == "Show Menu" ? "Hide Menu" : "Show Menu");
    };
</script>