<div id="ratings">
    <div class="form-inline">
        <label for="Rating">Rating: </label>
        <div class="rateit" data-rateit-step="1" data-rateit-resetable="false"></div>
    </div>
    <div class="form-inline">
        <label for="UserRating">Your rating: </label>
        <label id="UserRating"></label>
    </div>
</div>
