<style>
    #imageItem * {
        box-sizing: border-box;
    }

    #imageItem .mySlides {
        display: none;
    }

    /* Slideshow container */
    #imageItem .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    /* Next & previous buttons */
    #imageItem .prev, #imageItem .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
    }

    /* Position the "prev button" to the left */
    #imageItem .prev {
        left: 0;
        border-radius: 3px 0 0 3px;
    }

    /* Position the "next button" to the right */
    #imageItem .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

        /* On hover, add a black background color with a little bit see-through */
        #imageItem .prev:hover, #imageItem .next:hover, #imageItem .slideshow-container .glyphicon:hover {
            background-color: rgba(0,0,0,0.8);
        }

    /* Caption text */
    #imageItem .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    /* Number text (1/3 etc) */
    #imageItem .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* The dots/bullets/indicators */
    #imageItem .dot {
        cursor: pointer;
        height: 13px;
        width: 13px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

        #imageItem .active, #imageItem .dot:hover {
            background-color: #717171;
            opacity: 1;
        }

    #imageItem .checkbox {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    /* Control slideshow */
    #imageItem #SlideshowController {
        margin-bottom: 10px;
        bottom: 0;
        border-radius: 3px 0 0 3px;
        cursor: pointer;
        position: absolute;
        width: auto;
        transition: 0.6s ease;
        position: absolute;
        align-content: center;
        align-items: center;
        align-self: center;
    }

        #imageItem #SlideshowController .glyphicon {
            border-radius: 0 3px 3px 0;
            cursor: pointer;
            width: auto;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            /*margin-left: 10px;
            margin-right: 10px;*/
        }
</style>

<div id="imageItem" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bind="click: $('#imageItem').modal('hide')">&times;</button>
                <h4 class="modal-title">Images</h4>
            </div>

            <div class="modal-body">
                <!-- Slideshow -->
                <div class="slideshow-container" data-bind="foreach: RestaurantImages()">
                    <div class="mySlides">
                        <div class="numbertext" data-bind="text: ($index() + 1) + '/' + $parent.RestaurantImages().length"></div>
                        <img data-bind="attr: {src: '../Content/images/'+ $data.Name}" style="width:100%">
                        <input id="CoverImage" type="checkbox" class="checkbox" data-bind="checked: isCover, value: Id, click: $root.disableOthers" />
                        <button id="DeleteImageButton" class="btn btn-danger pull-left" data-bind="click: $root.deleteImage" style="margin-top: 10px">Delete</button>
                    </div>

                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>

                    @*<div id="SlideshowController" class="btn-group">*@
                            <span id="PlaySlideshow" class="glyphicon glyphicon-play" data-bind="click: startSlideshow()" style="display:none"></span>
                            @*<span id="StopSlideshow" class="glyphicon glyphicon-stop" onclick="stopSlideshow()"></span>
                        </div>*@
                </div>

                <!-- Slideshow index -->
                <div style="text-align:center;">
                    <div data-bind="foreach: RestaurantImages">
                        <span class="dot" data-bind="click: function() {currentSlide($index() + 1)}"></span>
                    </div>
                </div>
                <br />
            </div>

            <div class="modal-footer">
                <button id="ApplyCoverChangeButton" type="button" class="btn btn-success" data-bind="click: $root.setCoverImage" disabled>Apply</button>
                <button type="button" class="btn btn-default" data-bind="click: $('#imageItem').modal('hide')">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    var slideIndex = 0;
    //var automaticPlay = true;

    function startSlideshow() {
        //automaticPlay = true;
        var slides = document.getElementsByClassName("mySlides");
        if (slides.length) {
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            var timeout = setTimeout(plusSlides, 1, 0);
           // slides[1].style.display = "block";
        //    dots[1].className += " active";
        }
        //dots[slideIndex - 1].className += " active";
        //var timeout1 = setTimeout(showSlides, 2000, 1);
        //var timeout2 = setTimeout(showSlides, 2000, 2);
        //var timeout3 = setTimeout(showSlides, 2000, 1);
    }

    //function stopSlideshow() {
    //    automaticPlay = false;
    //    clearTimeout(timeout);
    //}

    function plusSlides(n) {
        //    clearTimeout(timeout);
        if (n == -1) {
            clearTimeout(timeout);
            n = 1;
        }
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        //clearTimeout(timeout);
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        //clearTimeout(timeout);
        var i;
        var slides = document.getElementsByClassName("mySlides");
        if (slides.length) {
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }

       // if (automaticPlay == true)
          //  timeout = setTimeout(plusSlides, 0, 1);
    }
</script>
