
<div id="restaurantItem" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit restaurant</h4>
            </div>

            <div class="modal-body">

                <p><label for="Name" class="pull-left">Name</label></p>
                <div class="form-horizontal">
                    <input id="Name" type="text" class="form-control" placeholder="Insert name" data-bind="value: Name" required>
                    <p><label id="NameWarning" class="text-danger pull-left" data-bind="text:showWarningNameEmpty"></label></p>
                </div>

                <p><label for="Address" class="pull-left">Address</label></p>
                <div class="form-horizontal">
                    <input id="Address" type="text" class="form-control" placeholder="Insert address" data-bind="value: Address" required>
                    <p><label id="AddressWarning" class="text-danger pull-left" data-bind="text:showWarningAddressEmpty"></label></p>
                </div>

                <p><label for="City" class="pull-left">City</label></p>
                <div class="form-horizontal">
                    <input id="City" type="text" class="form-control" placeholder="Insert city" data-bind="value: City" required>
                    <p><label id="CityWarning" class="text-danger pull-left" data-bind="text:showWarningCityEmpty"></label></p>
                </div>

                <p><label for="RestaurantTypes" class="pull-left">Type</label></p>
                <div class="form-horizontal">
                    <select id="RestaurantTypes" class="form-control" data-bind="options:Types, optionsText: 'Description', optionsValue: 'Id', value: Type, optionsCaption: 'Choose type...'"></select>
                    <p><label id="TypeWarning" class="text-danger pull-left" data-bind="text:showWarningTypeEmpty"></label></p>
                </div>

                <p><label for="Seats" class="pull-left">Seats</label></p>
                <div class="form-horizontal">
                    <input id="Seats" type="number" onkeypress="return event.charCode >=48" min="0" class="form-control" placeholder="Insert the seats available" data-bind="value: SeatsAvailable">
                    <p><label id="SeatsWarning" class="text-danger pull-left" data-bind="text:showWarningSeatsEmpty"></label></p>
                </div>

                <p><label for="OpeningHour" class="pull-left">Opening Hour</label></p>
                <div class="form-horizontal">
                    <input id="OpeningHour" type="number" onkeypress="return event.charCode >=48" min="0" max="24" placeholder="Insert opening hour" class="form-control" data-bind="value: OpeningHour">
                    <p><label id="OpeningHourWarning" class="text-danger pull-left" data-bind="text:showWarningOpeningHourEmpty"></label></p>
                </div>

                <p><label for="ClosingHour" class="pull-left">Closing Hour</label></p>
                <div class="form-horizontal">
                    <input id="ClosingHour" type="number" onkeypress="return event.charCode >=48" min="0" max="24" class="form-control" placeholder="Insert closing hour" data-bind="value: ClosingHour">
                    <p><label id="ClosingHourWarning" class="text-danger pull-left" data-bind="text:showWarningClosingHourEmpty"></label></p>
                </div>

                @using (Html.BeginForm("Upload", "Restaurants", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div>
                        <label for="file">Image</label>
                        <br />
                        <input name="rid" hidden="hidden" data-bind="value:id" />
                        <input type="file" align="center" name="file" id="file" style="width: 100%;" />
                        <input type="submit" value="Upload" class="btn btn-success" style="position: relative;left:28px;margin-bottom:1px;margin-left:-520px" />
                    </div>
                }
            </div>

            <div class="modal-footer">
                <button id="SaveButton" type="button" class="btn btn-success" data-bind="click:save">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>