
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div id="restaurants">
    <h2>Restaurants List</h2>

    <input type="button" value="Add new restaurant" class="btn btn-primary" data-toggle="modal" data-target="#restaurantItem" data-bind="click:add" />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Address</th>
                <th>Max Price</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach:Restaurants">
            <tr>
                <td class="col-xs-2" data-bind="text:Name"></td>
                <td class="col-xs-2" data-bind="text:Type"></td>
                <td class="col-xs-3" data-bind="text:Address"></td>
                <td class="col-xs-2" data-bind="text:MaxPrice"></td>
       
                <td class="col-xs-1">
                    <button type="button" class="btn btn-default" aria-label="Left Align" data-toggle="modal" data-target="#restaurantItem" data-bind="click:$parent.details" >
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </td>
                <td class="col-xs-1">
                    <button type="button" class="btn btn-default" aria-label="Left Align" data-bind="click:$parent.delete" >
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                   
                </td>
            </tr>
        </tbody>
    </table>
    @Html.Partial("Item")
</div>
<script>
    $(function () {
        var vm = new Restaurants();
        vm.refresh();
        ko.applyBindings(vm, $("#restaurants").get(0));
    });
</script>
