
@{
    ViewBag.Title = "UserRestaurants";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{ 
    Green.ApplicationDbContext db = new Green.ApplicationDbContext();
}
<div id="userRestaurants">
    <h2>Restaurants List</h2>
     

</div>

