<style>
    .jumbotron {
        background-color: #af351c;
        background-image: url("../img/userrestaurants.jpg");
    }

        .jumbotron h1 {
            font-size: 50px;
        }

    .popover {
        width: 200px;
    }

    .dropdown-toggle {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    input.form-control {
        max-width: 400px;
        min-width: 200px;
    }

    .input-group {
        padding-top: 13px;
        padding-bottom: 30px;
        padding-left: 100px;
        border-top: 1px;
        border-bottom: 100px;
        border-left: 100px;
        text-align: center;
    }

    .dropdown {
        padding-top: 2px;
        padding-bottom: 0px;
        padding-left: 41px;
        border-top: 1px;
        border-bottom: 200px;
        border-left: 100px;
        text-align: center;
    }

    .dropdown-menu {
        left: auto;
        right: auto;
        padding-top: 5px;
        padding-bottom: 10px;
        padding-left: 10px;
        border-top: 1px;
        border-bottom: 200px;
        border-left: 100px;
        text-align: left;
    }

    .dropdwn {
        left: auto;
        right: auto;
        padding-top: 5px;
        margin-top: 2px;
        padding-bottom: 10px;
        padding-right: 10px;
        width: 200px;
        text-align: justify;
    }

    span.stars, span.stars span {
        display: block;
        background: url(star-gold32.png) 0 -16px repeat-x;
        width: 80px;
        height: 16px;
    }

        span.stars span {
            background-position: 0 0;
        }

    .rate {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 50px;
        padding-right: 50px;
        border-bottom: -5px !important;
    }

    .thumbnail {
        height: 590px;
        padding-bottom: 10px;
        margin-bottom: 40px !important;
    }

    body {
        padding-top: 50px;
    }

    .dropdown.dropdown-lg .dropdown-menu {
        margin-top: -1px;
        padding: 6px 20px;
    }

    .btn1 {
        margin-top: 10px;
        margin-right: 70px;
        margin-left: 80px;
        margin-bottom: 40px;
    }

    .btn.btn-default.dropdown-toggle.btn1 {
        margin-top: 10px;
        margin-right: 70px;
        margin-left: 4px;
        margin-bottom: 40px;
        background-color: forestgreen;
    }


    .btn-group .btn:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .btn-group .form-horizontal .btn[type="submit"] {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }

    .form-group .form-control:last-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        margin-left: 3px;
    }

    .popover-title {
        height: 45px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
</style>
 
@{
    ViewBag.Title = "Restaurants";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script src='/signalr/js'></script>

<div id="userRestaurants">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h2 style="text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;">
                        Search the perfect restaurant for you!
                    </h2>
                    <p style="color: antiquewhite; font-weight:bold; font-style:italic; font-size: medium">
                        “One cannot think well, love well, sleep well, if one has not dined well.”
                    </p>

                </div>
            </div>
        </div>
        <hr />
        <div class="row-fluid">
            <div class="col-md-4">
                @if (User.IsInRole("NormalUser"))
                {
                    <button id="favorites" class="btn btn-info btn1" data-toggle="modal" style="margin-left:101px" data-target="#favoritesItem" data-bind="click:getFavorites"><span class="glyphicon glyphicon-heart-empty"></span> Show favorite restaurants</button>
                }
                else
                {  <button id="fav" class="btn btn-info btn1" style="margin-left:101px"><span class="glyphicon glyphicon-heart-empty"></span> Show favorite restaurants</button>

                }
                <div class="text">
                    <p style="padding-left: 110px;text-align:left"><span class="glyphicon" style="color: dodgerblue;font-size: 20px ">&#xe086;</span> Search the perfect restaurant for you! You can search for a restaurant by its name, type, city or by a meal available in its menu.</p>
                </div>
                <div id="custom-search-input" style="position: relative">
                    <div class="input-group">

                        <input name="Name" id="Name" type="text" class="search-query form-control" placeholder="Search by name..." data-bind="value:RestaurantName" />


                        <span class="input-group-btn col-md-offset-2">
                            <button id="search" class="btn btn-danger" type="button" data-bind="click:search">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>



                    </div>
                </div>
                <div>
                    <div class="dropdown dropdown-lg">
                        <button id="buttondropdown" type="button" class="btn btn-default dropdown-toggle btn1" data-toggle="dropdown" aria-expanded="false">Advanced search <span class="caret"></span></button>
                        <div id="dropdown" class="dropdown-menu dropdown-menu-right" data-toggle="dropdown" style="left:331px;top:12px;position:absolute;padding-bottom:13px" role="menu">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="filter">Type:</label>
                                    <p>
                                        <select id="dropdownTypes" class="dropdwn"
                                                data-bind="options: Types,
                                                           value:RestaurantType"></select>
                                    </p>
                                </div>

                                <div class="form-group">
                                    <label for="contain">Contains the meal:</label>
                                    <input id="Meal" class="form-control" type="text" data-bind="value:MealName" />
                                </div>
                                <div class="form-group">
                                    <label for="contain">City:</label>
                                    <input id="city" class="form-control" type="text" data-bind="value:CityName" />
                                </div>
                                <button id="search2" type="button" data-bind="click:searchByAll" class="btn btn-danger">Search <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <img src="../img/res.png" width="500" height="350" />

            </div>

        </div>

        <hr />
        <div class="row">

            <div class="col-md-12" style="height:650px;overflow-y:scroll">
                <hr />
                <div class="row" data-bind="foreach:UserRestaurants">

                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img data-bind="attr: {src: '../Content/images/'+ ImageName}" style="width:500px;height:300px">
                            <div class="caption">
                                <h1 data-bind="text:Name" style="color:cornflowerblue"></h1>

                                <hr />
                                <div style="margin-right:20px;margin-bottom:10px">
                                    <text style="text-align:left;color:black;font-weight:bold;">Address:</text>
                                    <text data-bind="text:Address"></text>
                                </div>


                                <div style="margin-right:20px;margin-bottom:10px">
                                    <text style="text-align:left;color:black;font-weight:bold;">Type:</text>
                                    <text data-bind="text:TypeDisplay"></text>
                                </div>
                                <div>

                                    <div class="rate" data-bind="attr:{id:id}">

                                    </div>


                                </div>

                                <div style="display:inline-block;margin-bottom:10px;margin-top:10px">

                                    <button class="btn btn-success btn-sm" onclick="@("window.location.href='" +@Url.Action("List","Reservations") + "'");">Make a reservation</button>


                                    <button class="btn btn-info btn-sm" data-bind="click:$parent.showRating">Show rating</button>
                                    @if (User.IsInRole("NormalUser"))
                                    {
                                        <button id="addFav" class="btn btn-danger btn-sm" type="button" data-bind="click:$parent.save">
                                            <span class="glyphicon glyphicon-heart-empty"></span>
                                            Add to favorites
                                        </button>
                                    }
                                    else
                                    {
                                        <button id="addFav" class="btn btn-danger btn-sm" type="button" onclick="@("window.location.href='" +@Url.Action("Login","Account") + "'");">
                                            <span class="glyphicon glyphicon-heart-empty"></span>
                                            Add to favorites
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <div id="UserRestaurantsSnackbar" data-bind="text: $root.Message"></div>
    
    @Html.Partial("Favorites")
    @Html.Partial("SuccesModal") 
</div>
<script>
    $(function () {
        var vm = new UserRestaurants();
        vm.initSignalR();
        vm.refresh();
        ko.applyBindings(vm, $("#userRestaurants").get(0));
    });
    $('document').ready(function () {
        /* $("#dropdown").click(function () {
             $(this).dropdown("toggle");
             return false;
         });*/
        $("#search2").click(function () {
            $("#dropdown").dropdown("toggle");
            return false;
        });
        $('#dropdownTypes').on('click', function (e) {
            e.stopPropagation();
        });
        $('#Meal').on('click', function (e) {
            e.stopPropagation();
        });
        $('#city').on('click', function (e) {
            e.stopPropagation();
        });

    });
    $('#fav').popover({
        html: true,
        title: 'Warning<a class="close" href="#");">&times;</a>',
        content: 'You must be logged in to see your favorite restaurants!'
    });

    $('#fav').click(function (e) {
        e.stopPropagation();
    });

    $(document).click(function (e) {
        if (($('.popover').has(e.target).length == 0) || $(e.target).is('.close')) {
            $('#fav').popover('hide');
        }
    });
    //$('#fav').click(function () {
    //    $('#fav').popover({
    //        title: 'Warning!',
    //        content: 'You must be logged in to see your favorite restaurants!',
    //        placement: 'right'
    //    }).popover('show');

    //})
    /* $('#search').click(function () {
         if (!$('#Name').val()) {
             $('#Name').popover({
                 title: 'Warning!',
                 content: 'Please insert a name!',
                 placement: 'top'
             }).popover('show');
         } else {
             $('#Name').popover('destroy');
         }
     });*/

</script>
