<style>
    .jumbotron {
        background-color: #F6BB42;
    }

        .jumbotron h1 {
            font-size: 50px;
        }

    .popover {
        width: 200px;
    }

    .dropdown-toggle {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .input-group {
        padding-top: 5px;
        padding-bottom: 30px;
        padding-left: 100px;
        border-top: 1px;
        border-bottom: 100px;
        border-left: 100px;
        text-align: center;
    }

    .dropdown {
        padding-top: 5px;
        padding-bottom: 35px;
        padding-left: 108px;
        border-top: 1px;
        border-bottom: 200px;
        border-left: 100px;
        text-align: center;
    }

    .dropdown-menu {
        left: auto;
        right: auto;
        padding-top: 5px;
        padding-bottom: 10px;
        padding-left: 10px;
        border-top: 1px;
        border-bottom: 200px;
        border-left: 100px;
        text-align: left;
    }

    .dropdwn {
        left: auto;
        right: auto;
        padding-top: 5px;
        padding-bottom: 10px;
        padding-right: 70px;
        text-align: justify;
    }

    span.stars, span.stars span {
        display: block;
        background: url(stars.png) 0 -16px repeat-x;
        width: 80px;
        height: 16px;
    }

        span.stars span {
            background-position: 0 0;
        }
</style>

@{
    ViewBag.Title = "Restaurants";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div id="userRestaurants">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h2>
                        Search the perfect restaurant for you!
                    </h2>
                    <p style="color: brown; font-weight:bold; font-style:italic; font-size: medium">
                        “One cannot think well, love well, sleep well, if one has not dined well.”
                    </p>

                </div>
            </div>
        </div>
        <hr />
        <div class="row-fluid">
            <div class="col-md-4">

                <div id="custom-search-input" style="position: relative">
                    <div class="input-group ">

                        <input name="Name" id="Name" type="text" class="search-query form-control" placeholder="Search..." data-bind="value:RestaurantName" />


                        <span class="input-group-btn col-md-offset-2">
                            <button id="search" class="btn btn-danger" type="button" data-bind="click:search">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>



                    </div>
                </div>
                <div class="text">
                    <p style="padding-left: 110px;text-align:left"><span class="glyphicon" style="color: dodgerblue;font-size: 20px ">&#xe086;</span> Here you can search for your favorite restaurant. You can search for a restaurant by its name or by its type.</p>
                </div>
                <br />

                <p>
                    <select class="dropdwn" id="selectMenu" name="" data-theme="c"
                            data-bind="options: Types,
                            optionsCaption: 'Choose type...',
                            value:RestaurantType,click:searchByType"></select>
                </p>


            </div>
            <div class="col-md-8">
                <img src="../img/res.png" width="500" height="350" />

            </div>

        </div>

        <hr />
        <div class="row">

            <div class="col-md-12" style="height:650px;overflow-y:scroll">
                <hr />
                <div class="row" data-bind="foreach:UserRestaurants">

                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img data-bind="attr: {src: '../Content/images/'+ ImageName}" style="width:500px;height:300px">
                            <div class="caption">
                                <h2 data-bind="text:Name" style="color:cornflowerblue"></h2>
                                <hr />
                                <div style="margin-right:20px;margin-bottom:10px">
                                    <text style="text-align:left;color:black;font-weight:bold;">Address:</text>
                                    <text data-bind="text:Address"></text>
                                </div>


                                <div style="margin-right:20px;margin-bottom:10px">
                                    <text style="text-align:left;color:black;font-weight:bold;">Type:</text>
                                    <text data-bind="text:TypeDisplay"></text>
                                </div>
                                <div>
                                   
                                        <div class="rateit" data-rateit-step="1" data-rateit-resetable="false"></div>
                                      
                                </div>
                               
                                <div style="display:inline-block;margin-bottom:5px">
                                    <button class="btn btn-info" style="margin-right:135px;" data-toggle="modal" data-target="#detailsItem">Details</button>
                                    <a href="#" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-heart-empty" ></span> Add to favorites</a>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
    </div>
    @Html.Partial("Details")

</div>
<script>
    $(function () {
        var vm = new UserRestaurants();
        vm.refresh();
        ko.applyBindings(vm, $("#userRestaurants").get(0));
        var vmRatings = new Ratings();
        vmRatings.set();
        ko.applyBindings(vmRatings, $("#ratings").get(0));
      
      
    });
    $('#search').click(function () {
        if (!$('#Name').val()) {
            $('#Name').popover({
                title: 'Warning!',
                content: 'Please insert a name!',
                placement: 'top'
            }).popover('show');
        } else {
            $('#Name').popover('destroy');
        }
    });

</script>

