@using Green.Models
@{
    ViewBag.Title = "Meals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    input[type=search] {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

        input[type=search]:focus {
            width: 100%;
        }

    .thumbnail .image {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        height: inherit;
        width: auto;
        object-fit: cover;
        border-radius: inherit;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        transition: .5s ease-out;
        /*background-color: white;*/
        opacity: 0;
    }

    .overlay.wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
    }

    .wrapper {
        height: 200px;
        overflow: hidden;
        border-radius: inherit;
    }

    .thumbnail:hover .overlay {
        opacity: 1;
        background: rgba(255, 255, 255, 0.7);
    }

    .thumbnail:hover .image {
        -webkit-filter: blur(2px);
        filter: blur(2px);
    }

    .overlay .text {
        color: #515151;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .overlay .h5 {
        color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .row .thumbnail {
        border: 0;
        box-shadow: 0 5px 18px 0 rgba(0,0,0,0.2);
        background: transparent;
        max-width: 100%;
        background-color: #fff;
        border: 1px solid #fff;
        margin-right: 5px;
        margin: 5px;
        transition: 0.3s;
        border-radius: 10px;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
    }
</style>

<div id="meals">
    <h2>Meals</h2>
    @if (User.IsInRole("AppAdmin"))
    {
        <input type="button" value="New" class="btn btn-primary" data-toggle="modal" data-target="#mealItem" data-bind="click:add" />
    }
    <div class="form-inline">
        <input type="search" id="searchBox" placeholder="Search...">
        <button id="infoButton" class="btn btn-default" data-toggle="tooltip" title="Search" data-bind="click: search">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </div>

    <div class="container">
        <div class="form-inline">
            <input type="checkbox" id="SearchName" data-bind="checked: SearchName" />
            <label for="SearchName">Search in name</label>
            <input type="checkbox" id="SearchIngredient" data-bind="checked: SearchIngredient" />
            <label for="SearchIngredient">Search in ingredients</label>
        </div>
    </div>

    <div class="container-fluid" style="padding-left:8%; padding-right:8%;">
        <div class="row" data-bind="foreach:Meals">
            @if (User.IsInRole("AppAdmin"))
            {
                <div id="thumbnail" class="thumbnail col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="wrapper">
                        <img class="image" data-bind="attr: {src: '../Content/images/'+ ImageName}" alt="Image Not Found!">
                        <div class="overlay">
                            <button id="deleteMealFromList" type="button" class="close" data-bind="click: $root.delete">&times;</button>
                            <div class="wrapper" data-toggle="modal" data-target="#mealItem" data-bind="click: $root.details">
                                <h5 data-bind="text:Name"></h5>
                                <div class="text" data-bind="text:Description"></div>
                                @*<div class="form-horizontal" style="position:absolute; bottom: 5%; width:100%;">
                                    <buttod id="detailsButton" class="btn btn-success" data-toggle="modal" data-target="#mealItem" data-bind="click: $root.details" style="width:40%;">Details</buttod>
                                    <button id="cancelButton" class="btn btn-danger" data-toggle="tooltip" title="Delete." data-bind="click:$root.delete" style="width:40%;">Delete</button>
                                </div>*@
                            </div>
                        </div>
                    </div>

                </div>
            }
            else
            {
                <div class="thumbnail col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="wrapper">
                        <img class="image" data-bind="attr: {src: '../Content/images/'+ ImageName}" alt="Image Not Found!">
                        <div class="overlay">
                            <h5 data-bind="text:Name"></h5>
                            <div class="text" data-bind="text:Description"></div>
                        </div>
                    </div>
                </div>
            }
        </div>

        @Html.Partial("MealItem")
    </div>
</div>

<script>
    $(function () {
        ko.cleanNode($("#meals")[0]);
        var vmMeals = new Meals();
        vmMeals.refresh();
        ko.applyBindings(vmMeals, $("#meals").get(0));

        ko.cleanNode($("#foodItem")[0]);
        var vmFoods = new Foods();
        vmFoods.refresh();
        ko.applyBindings(vmFoods, $("#foodItem").get(0));

        $('#foodItem').on('hidden.bs.modal', function () {
            vmMeals.refresh();
        });
    });
</script>
