<div id="mealItem" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Manage meal</h4>
            </div>
            
            <div class="modal-body">
                <label for="MealType">Type</label>
                <div class="form-horizontal">
                    <select id="MealType" class="form-control" data-bind="options:Types, optionsText: 'Description', optionsValue: 'Id', value: Type, optionsCaption: 'Choose...'"></select>
                    <label class="text-danger pull-right" data-bind="text:warningType"></label>
                </div>

                <label for="MealName">Name</label>
                <div class="form-horizontal">
                    <input id="MealName" type="text" class="form-control" data-bind="value: Name">
                    <label class="text-danger pull-right" data-bind="text:warningName"></label>
                </div>

                <label for="MealDescription">Description</label>
                <div class="form-horizontal">
                    <input id="MealDescription" type="text" class="form-control" data-bind="value: Description">
                    <label class="text-danger pull-right" data-bind="text:warningDescription"></label>
                </div>

                <label for="MealIngredient">Ingredients</label>
                <div class="form-horizontal">
                    <div class="form-inline">
                        <select id="MealIngredient" class="form-control pull-left" data-bind="options:Foods, optionsText: 'Name', optionsValue: 'Id', value: Ingredient, optionsCaption: 'Choose...'"></select>
                        <button id="AddButton" data-bind="click: addIngredient">Add</button>
                        <label class="text-danger pull-right" data-bind="text:warningIngredient"></label>
                    </div>
                </div>
                <input id="MealIngredientsList" type="text" placeholder="Ingredients list" data-bind="value: $root.IngredientsName"/>

                <label for="MealRating">Rating</label>
                <select id="MealRating" class="form-control" data-bind="options:Ratings, optionsText: 'Description', optionsValue: 'Id', value: Rating, optionsCaption: 'Choose...'"></select>
            </div>

            <div class="modal-footer">
                <button id="OKButton" type="button" class="btn btn-success" data-dismiss="modal" data-bind="click:save" data-toggle="tooltip" title="Apply changes.">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="tooltip" title="Revert changes.">Close</button>
            </div>
        </div>
    </div>
</div>
