<div id="mealItem" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bind="click: $('#mealItem').modal('hide')">&times;</button>
                <h4 class="modal-title">Manage meal</h4>
            </div>

            <div class="modal-body">
                <img data-bind="attr: {src: '../Content/images/'+ ImageName}" alt="Image Not Found!">

                <label for="MealType">Type</label>
                <div class="form-horizontal">
                    <select id="MealType" class="form-control" data-bind="options:Types, optionsText: 'Description', optionsValue: 'Id', value: Type, optionsCaption: 'Choose...'"></select>
                    <label class="text-danger pull-right" data-bind="text:warningType"></label>
                </div>

                <label for="MealName">Name</label>
                <div class="form-horizontal">
                    <input id="MealName" type="text" class="form-control" data-bind="value: Name">
                    <label class="text-danger pull-right" data-bind="text:warningName"></label>
                </div>

                <label for="MealDescription">Description</label>
                <div class="form-horizontal">
                    <input id="MealDescription" type="text" class="form-control" data-bind="value: Description">
                    <label class="text-danger pull-right" data-bind="text:warningDescription"></label>
                </div>

                <label for="MealIngredient">Ingredients</label>
                <div class="form-horizontal">
                    <select id="MealIngredient" class="form-control pull-left" size="5" data-bind="foreach: FoodTypes()">
                        <optgroup data-bind="attr: {label: Description}, foreach: $parent.Foods">
                            <!-- ko if: TypeDisplay == $parent.Description -->
                            <option data-bind="text: Name, value: Id"></option>
                            <!-- /ko -->
                        </optgroup>
                    </select>
                    <label class="text-danger pull-right" data-bind="text:warningIngredient"></label>
                    <button id="AddIngredientButton" class="btn btn-default" data-bind="click: addIngredient">Add</button>
                    <button id="DeleteIngredientButton" class="btn btn-default" data-bind="click: deleteIngredient">Delete</button>
                </div>
                <input id="MealIngredientsList" type="text" placeholder="Ingredients list" data-bind="value: IngredientsName" readonly />
                <button id="NewIngredientButton" class="btn btn-default" data-toggle="modal" data-target="#foodItem">Add new ingredient</button>

                @using (Html.BeginForm("Upload", "Meals", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div>
                        <label for="file">Image</label>
                        <br />
                        <input name="mealId" hidden="hidden" data-bind="value:Id" />
                        <input type="file" align="center" name="file" id="file" style="width: 100%;" />
                        <input type="submit" value="Upload" class="btn btn-success" style="position: relative;left:28px;margin-bottom:1px;margin-left:-520px" />
                    </div>
                }

                @Html.Partial("../Foods/Item")
                @Html.Partial("../Shared/Image")
            </div>

            <div class="modal-footer">
                <button id="MealOKButton" class="btn btn-success" data-bind="click:save">Save</button>
                <button id="MealDeleteButton" class="btn btn-danger" data-bind="click:$root.deleteModal" style="display: none;">Delete</button>
                <button class="btn btn-default" data-bind="click: $('#mealItem').modal('hide')">Close</button>
            </div>
        </div>
    </div>
</div>