<style>
    #mealItem {
        overflow: scroll;
    }

        #mealItem .modal-body {
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            height: auto;
            width: inherit;
            object-fit: cover;
            border-radius: inherit;
            overflow: auto;
        }

        #mealItem .modal-dialog {
            overflow: auto;
        }

        #mealItem .modal-body .image {
            height: 50px;
            width: auto;
            position: relative;
            left: 90px;
        }

    /*ingredients display*/
    #MealIngredient option:hover {
        cursor: pointer;
    }

    #MealIngredient {
        width: 100%;
        align-content: center;
        align-items: center;
        align-self: center;
    }

    #NewIngredientButton {
        margin-top: 10px;
    }

    #mealItem #DisplayCaseButtons .btn {
        width: auto;
    }

    #MealIngredientsDisplay {
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        border-color: none;
    }

        #MealIngredientsDisplay a:focus,
        #MealIngredientsDisplay a:hover,
        #MealIngredientsDisplay a:active {
            outline: 0;
            text-decoration: none;
        }

        #MealIngredientsDisplay .panel {
            border-width: 0 0 1px 0;
            border-style: solid;
            /*border-color: #fff;*/
            border-radius: 0;
            border-color: none;
            border: none;
            background: none;
            box-shadow: none;
        }

            #MealIngredientsDisplay .panel:last-child {
                border-bottom: none;
            }

        #MealIngredientsDisplay > .panel:first-child .panel-heading {
            border-radius: 4px 4px 0 0;
        }

        #MealIngredientsDisplay .panel + .panel {
            margin-top: 0;
            border: none;
        }

        #MealIngredientsDisplay .panel-heading {
            border: none;
            border-color: none;
            padding: 0;
            border-radius: 0 0 4px 4px;
            transition: border-radius 0.3s linear 0.2s;
            height: auto;
        }

        #MealIngredientsDisplay .panel-title a {
            font-weight: 700;
            color: white;
            border-color: none;
            background-color: #999999;
            /*background-color: #fed136;*/
            font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            display: block;
            padding: 5px;
            position: relative;
            font-size: 16px;
        }

        #MealIngredientsDisplay .panel-title :hover {
            color: #ffffff;
            background-color: #808080;
        }

        #MealIngredientsDisplay .panel-collapse {
            background: #fff;
            border-color: none;
            height: auto;
            max-height: 300px;
            overflow-y: scroll;
        }

        #MealIngredientsDisplay .panel:last-child .panel-collapse {
            border-radius: 0 0 4px 4px;
        }

        #MealIngredientsDisplay .list-group-item:hover {
            cursor: pointer;
        }

        #MealIngredientsDisplay #IngredientsList .list-group-item-heading {
            font-weight: 600;
            margin-bottom: 0;
            border: 1px solid white;
            background-color: #999999;
            border-color: none;
            color: white;
            /*text-transform: uppercase;*/
            height: 40px;
        }

            #MealIngredientsDisplay #IngredientsList .list-group-item-heading:not(:first-child) {
                /*margin-top: 10px;*/
            }

            #MealIngredientsDisplay #IngredientsList .list-group-item-heading:hover {
                cursor: default;
            }

    #mealItem #DisplayCaseButtons {
        margin-top: 11px;
        margin-bottom: 6px;
        width: 100%;
        border: none;
    }

    /* scrollbar */
    #MealIngredientsDisplay ::-webkit-scrollbar {
        width: 11px;
        height: 11px;
    }

    #MealIngredientsDisplay ::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }

    #MealIngredientsDisplay ::-webkit-scrollbar-thumb {
        background: #999999;
        border: 48px none #ffffff;
        border-radius: 4px;
    }

        #MealIngredientsDisplay ::-webkit-scrollbar-thumb:hover {
            background: #808080;
        }

        #MealIngredientsDisplay ::-webkit-scrollbar-thumb:active {
            background: #999999;
        }

    #MealIngredientsDisplay ::-webkit-scrollbar-track {
        background: #e9e9e9;
        border: 0px none #ffffff;
        border-radius: 4px;
    }

        #MealIngredientsDisplay ::-webkit-scrollbar-track:hover {
            background: #e9e9e9;
        }

        #MealIngredientsDisplay ::-webkit-scrollbar-track:active {
            background: #e9e9e9;
        }

    #MealIngredientsDisplay ::-webkit-scrollbar-corner {
        background: transparent;
    }
</style>

<div id="mealItem" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" @*data-bind="click: $('#mealItem').modal('hide')"*@>&times;</button>
                <h4 class="modal-title">Manage meal</h4>
            </div>

            <div class="modal-body">
                <!-- Meal Info -->
                <label for="MealType">Type</label>
                <div class="form-horizontal">
                    <select id="MealType" class="form-control" data-bind="options:Types, optionsText: 'Description', optionsValue: 'Id', value: Type, optionsCaption: 'Choose...'"></select>
                    <label class="text-danger pull-right" data-bind="text:warningType"></label>
                </div>

                <label for="MealName">Name</label>
                <div class="form-horizontal">
                    <input id="MealName" type="text" class="form-control" data-bind="value: Name">
                    <label class="text-danger pull-right" data-bind="text:warningName"></label>
                </div>

                <label for="MealDescription">Description</label>
                <div class="form-horizontal">
                    <input id="MealDescription" type="text" class="form-control" data-bind="value: Description">
                    <label class="text-danger pull-right" data-bind="text:warningDescription"></label>
                </div>

                <hr />
                <!-- Ingredients -->
                <!-- Search Ingredient -->
                <div class="form-inline pull-right" style="width: 100%">
                    <div class="inner-addon left-addon">
                        <input id="IngredientSearchBox" type="text" class="form-control" role="search" placeholder="Search ingredient..." data-bind="value: $root.SearchText, valueUpdate: 'afterkeydown'" />
                    </div>
                </div>

                <!-- Ingredients List Display -->
                <div id="DisplayCaseButtons" class="btn-group">
                    <input type="button" role="group" class="btn btn-default" value="Show all" data-bind="click: $root.showAll" style="width:33.3%; border: none;" />
                    <input type="button" role="group" class="btn btn-default" value="Show selected" data-bind="click: $root.showSelected" style="width:33.4%; border-bottom: none; border-top:none; border-right: 6px solid white; border-left: 6px solid white;" />
                    <input type="button" role="group" class="btn btn-default" value="Show unselected" data-bind="click: $root.showUnselected" style="width:33.3%; border: none;" />
                </div>

                <div id="MealIngredientsDisplay" class="panel-group wrap" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a id="IngredientsVisibilityButton" role="button" data-toggle="collapse" href="#IngredientsList" onclick="ToggleIngredientsVisibility()">Show Ingredients</a>
                            </h4>
                        </div>
                        <div id="IngredientsList" role="tabpanel" class="panel-collapse collapse in" data-bind="foreach: $root.DisplayedFoods">
                            <ul class="list-group">
                                <!-- ko if: $index() == 0 || TypeDisplay != $root.DisplayedFoods()[$index() - 1].TypeDisplay -->
                                <li class="list-group-item-heading list-group-item">
                                    <text class="pull-left" data-bind="text: TypeDisplay"></text>
                                </li>
                                <!-- /ko -->
                                <li class="list-group-item" data-bind="style: { 'background-color': $data.isSelected ? '#fed136' : 'white' }, click: $root.onIngredientClicked">
                                    <text data-bind="text: Name"></text>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="pull-left">
                    <label><input id="MultipleSelectionButton" type="checkbox" data-bind="click: $root.SelectAll" value="" />Select All</label>
                    @*<button id="NewIngredientButton" class="btn btn-default pull-right right" data-toggle="modal" data-target="#foodItem">Add new ingredient</button>*@
                </div>

                <!-- Image -->
                <!-- ko if: Id() != 0 && Id() != null -->
                @using (Html.BeginForm("Upload", "Meals", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-horizontal">
                        <label class="text-danger pull-right" data-bind="text: $root.warningImage"></label>
                        <br />
                        <input name="mealId" hidden="hidden" data-bind="value:Id" />
                        <input type="file" align="center" name="file" id="file" style="width: 100%;" data-bind="value: $root.ChoosenImage" />
                        <div class="form-inline pull-left">
                            <input type="submit" value="Upload" class="btn btn-success pull-left" style="position: fixed;" />
                            <img class="image" data-bind="attr: {src: '../Content/images/'+ ImageName()}" alt="Image Not Found!">
                        </div>
                    </div>
                }
                <!-- /ko -->
            </div>

            <div class="modal-footer">
                <button id="MealOKButton" class="btn btn-success" data-bind="click:save">Save</button>
                <button id="MealDeleteButton" class="btn btn-danger" data-bind="click:$root.deleteModal" style="display: none;">Delete</button>
                <button class="btn btn-default" data-dismiss="modal" @*data-bind="click: $('#mealItem').modal('hide')"*@>Close</button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("../Foods/Item")

<script>
    function ToggleIngredientsVisibility() {
        var button = $("#IngredientsVisibilityButton");
        button.text(button.text() == "Show Ingredients" ? "Hide Ingredients" : "Show Ingredients");
    };

    $(function () {
        $('#foodItem').on('hidden.bs.modal', function () {
            vmMeals.refresh();
        });

        $('#foodItem').on('hide.bs.modal', function () {
            document.getElementById("mealItem").style.webkitFilter = 'blur(0)';
        });

        $('#foodItem').on('show.bs.modal', function () {
            document.getElementById("mealItem").style.webkitFilter = 'blur(5px)';
        });
    });

</script>